<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="slider(target)" class="slider" style="position: absolute;top: 156px;height: 435px;width: 240px">
    <ul>
        <li class="dropdown">
            <a href="/cjcx/cj" data-toggle="dropdown">成绩查询 </a>
        </li>
        <li class="dropdown">
            <a href="/cjcx/exam" data-toggle="dropdown">考试类型查询 </a>
        </li>
        <li class="dropdown">
            <a  data-toggle="dropdown">异动记录 </a>
        </li>
        <li class="dropdown">
            <a  data-toggle="dropdown">用户管理 </a>
        </li>
        <li class="dropdown">
            <a  href="/cjcx/role" data-toggle="dropdown">权限管理 </a>
        </li>
        <li class="dropdown">
            <a  data-toggle="dropdown">证书查询</a>
        </li>
        <li th:if="${session.userId}" class="dropdown">
            <a onClick="return confirm('确认退出登录？')" href="/cjcx/user/logout" data-toggle="dropdown" >注销</a>
        </li>
    </ul>
</div>
</body>
</html>